body{
    background-color: rgba(0, 0, 0, 0.767);
}
h1{
    color:rgb(168, 202, 231);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-right:40%;
    margin-left:40%;
    display:block;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(80, 144, 241), 0 0 5px rgb(80, 144, 241);
}
.main{
    display:block;
    margin:0 26%;
    width: 620px;

}
.row{
  width:620px;
  height:200px; 
  margin: 0 0 10px 0;
}
.picturebox{
 width:200px;
 height:200px;
 background-color:rgb(168, 202, 231);
 display: inline-block;
 border-radius: 8px;
 box-shadow: 0 3px 0 0 black;
}
.picture{
    width:200px;
    height:200px;  
    display: inline-block;
    border-radius: 8px;
    
}